@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Poppins:wght@400;500&display=swap');

:root {

    --brand-font: 'Heebo', sans-serif;
    --body-font: 'Poppins', sans-serif;
    
    --dark-color: #000;
    --light-color: #fff;
    --gray-one-color: #333;
    --gray-two-color: #4f4f4f;
    --gray-three-color: #828282;
    --gray-four-color: #bdbdbd;
    --blue-color: #2d9cdb;


    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px .... */
    --big-font-size: 2rem; /* 32 px */
    --h1-font-size: 1.5rem; /* 24 px */ 
    --h2-font-size: 1.25rem; /* 20 px */
    --h3-font-size: 1.125rem; /* 18 px */
    --normal-font-size: 1rem; /* 16 px */
    --small-font-size: .813rem; /* 13 px */
    --smaller-font-size: .625rem; /* 10 px */

    /* .25rem = 4px, .5rem = 8px, .75rem = 12px */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
}

/* html, body {
    width: 100%;
    height: 100vh;
} */

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    margin: 1rem .75rem;
    display: flex;
    flex-direction: column;
    row-gap: var(--mb-2-5);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-family: var(--brand-font);
    font-size: var(--h2-font-size);
    color: var(--gray-one-color);
}


.nav__icon {
    font-size: var(--h2-font-size);
    cursor: pointer;
}

.nav__close {
    color: var(--light-color);
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .3s;
}

.navbar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 110%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--z-modal);
    background-color: var(--dark-color);
    transition: .3s;
}

.show__menu {
    left: 0;
}

.navbar__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--mb-1-5);
}

.navbar__item {
    width: max-content;
}

.navbar__link {
    color: var(--light-color);
    font-size: var(--h2-font-size);
}

.navbar__link::after {
    content: "";
    display: block;
    border-bottom: 2px solid #fff;
    margin-top: .3rem;
    transform: scale(0);
    transition: .2s;
}

.navbar__link:hover::after {
    transform: scale(1);
}

.main {
    display: flex;
    flex-direction: column;
    row-gap: var(--mb-3);
}

.home {
    display: flex;
    flex-direction: column;
    row-gap: var(--mb-1-5);
}

.home > div {
    margin: 0 2rem;
}

.hero__img {
    border-radius: 18px;
}


.home__info {
    display: flex;
    flex-direction: column;
    row-gap: var(--mb-1);
}

.home__subtitle {
    color: var(--blue-color);
    font-size: var(--small-font-size);
    font-weight: 500;
}

.home__title {
    font-size: var(--h1-font-size);
    font-weight: 500;
    color: var(--gray-one-color);
}

.home__description {
    font-size: .75rem;
    color: var(--gray-two-color);
    font-weight: 400;
}

.home__contact-title {
    font-size: var(--smaller-font-size);
    color: var(--gray-three-color);
    font-weight: 500;
}

.home__column {
    display: flex;
    flex-direction: column;
    row-gap: var(--mb-1);
}

.home__email {
    padding: .8rem .9rem;
    margin-top: var(--mb-0-5);
    margin-right: -59px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 12px;
    outline: none;
    width: 100%;
}

.email__btn {
    font-size: 14px;
    padding: .6rem .8rem;
    border: none;
    background-color: var(--blue-color);
    border-radius: 12px;
    color: var(--light-color);
}

.home__email::placeholder {
    color: var(--gray-four-color);
    font-size: 14px;
    font-weight: 500;
}

/************************** services *********************************/

.service {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}

.service__title {
    font-weight: 500;
    font-size: var(--h1-font-size);
    color: var(--gray-one-color);
    padding: 0 2rem;

}

.service__card {
    display: flex;
    flex-direction: column;
    row-gap: var(--mb-1-5);
    padding: 2rem;
    

}

.service__card:hover {
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
    border-radius: 24px;
}

.service__icon {
    padding: 20px;
    width: max-content;
    background-color: var(--blue-color);
    color: var(--light-color);
    font-size: 22px;
    border-radius: 16px;
}

.service__subtitle {
    font-size: var(--h1-font-size);
    color: var(--gray-one-color);
}

.service__des {
    color: var(--gray-two-color);
    font-size: var(--normal-font-size);
    font-weight: 400;
}

.service__btn {
    width: max-content;
    padding: 10px 12px;
    background-color: #e0e0e0;
    border-radius: 12px;
    color: var(--gray-three-color);
    cursor: pointer;
}

.service__btn:hover {
    background-color: #bdbdbd;
    color: var(--gray-two-color);
}

.green {
    background-color: #27ae60;
}

