@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

:root {

    --primary-font: 'Montserrat', sans-serif;

    --dark-color: #333333;
    --dark-color-light: #4e5150;
    --gray-color: #4f4f4f;
    --gray-color-light: #828282;
    --footer-color: #bdbdbd; 
    --orange-color: #f2994a;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px .... */
    --big-font-size: 2rem; /* 32 px */
    --h1-font-size: 1.5rem; /* 24 px */ 
    --h2-font-size: 1.25rem; /* 20 px */
    --h3-font-size: 1.125rem; /* 18 px */
    --normal-font-size: 1rem; /* 16 px */
    --small-font-size: .813rem; /* 13 px */
    --smaller-font-size: .5rem; /* 8 px */

    /* .25rem = 4px, .5rem = 8px, .75rem = 12px */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.main {
    display: grid;
    row-gap: var(--mb-1-5);
    margin: 2rem 1.5rem;
    font-family: var(--primary-font);
    transition: .3s;
}

.main__title {
    font-weight: 600;
    font-size: var(--h1-font-size);
    color: var(--dark-color-light);
}

.order {
    display: flex;
    flex-direction: column;
    row-gap: var(--mb-3);
    padding: 2rem 1.5rem;
    background-color: #f2f2f2;
    border-radius: 12px;
}

.order__card {
    display: flex;
    flex-direction: column;
    row-gap: var(--mb-2);
}

.order__item {
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: var(--mb-1);
}

.order__img {
    border-radius: 20px;
    width: 142px;
    height: 100%;
}

.order__info {
    display: grid;
    row-gap: var(--mb-1);
}

.order__title {
    font-weight: 600;
    color: var(--dark-color-light);
}

.order__price {
    display: flex;
    column-gap: var(--mb-1);
    font-size: var(--normal-font-size);
}

.price__final {
    color: var(--orange-color);
}

.price__first {
    color: var(--dark-color-light);
}

.order__count {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 160px;
    font-size: var(--h2-font-size);
    border: 1px solid #828282;
    border-radius: 12px;
    padding: 1rem 0;
    margin-top: 1rem;
}

.order__icon {
    color: var(--gray-color-light);
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: .3rem .4rem;
    font-size: 1rem;
}

.order__num {
    color: var(--dark-color);
}

.order__sum {
    margin-top: var(--mb-2);
}

.shopping,
.total {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #bdbdbd;
    color: var(--dark-color);
    padding: .6rem 0;
}

.inputWithIcon {
    position: relative;
    margin-bottom: 1rem;
}

.inputWithIcon i {
    position: absolute;
    left: 5px;
    top: 25px;
    padding: 9px 8px;
    color: var(--gray-color-light);
}

input {
    padding: 10px;
    padding-left: 40px;
    margin-top: .3rem;
    border: 1px solid #828282;
    width: 100%;
    border-radius: 12px;
    color: var(--gray-color-light);
}

.contact__title {
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: var(--dark-color);
    font-size: var(--normal-font-size);
}

label {
    color: var(--gray-color);
    font-size: var(--small-font-size);
}


.left input::-webkit-calendar-picker-indicator {
    opacity: 100;
    padding: 2px 4px;
    background: #e0e0e0;
    border-radius: 5px;
 }


.twoColumn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--mb-1-5);
    justify-content: space-between;
}

.checkbox {
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
    color: var(--gray-color-light);
}

.btn__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--mb-1-5);
    margin-top: var(--mb-1-5);
}

.btn {
    padding: 1rem 1.5rem;
    grid-column: 2 / 3;
    color: #fff;
    background-color: var(--orange-color);
    border: none;
    font-size: var(--normal-font-size);
}

.footer {
    text-align: center;
    font-weight: 700;
    font-size: var(--small-font-size);
    color: var(--footer-color);
}

.footer__link {
    color: #828282;
}

@media screen and (min-width: 481px) {
    .main {
        margin: 5% 10%;
        transition: .3s;
    }

    .order__item {
        grid-template-columns: 30% 70%;
    }

}