@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:ital,wght@0,700;1,400&display=swap');


:root {
    --dark-color: #000;
    --gray-one-color: #333;
    --gray-two-color: #4f4f4f;
    --gray-four-color: #bdbdbd;
    --orange-color: #f2994a;

    --title-font: 'Playfair Display', serif;
    --body-font: 'Montserrat', sans-serif;


    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px .... */
    --big-font-size: 2rem; /* 32 px */
    --h1-font-size: 1.5rem; /* 24 px */ 
    --h2-font-size: 1.25rem; /* 20 px */
    --h3-font-size: 1.125rem; /* 18 px */
    --normal-font-size: 1rem; /* 16 px */
    --small-font-size: .813rem; /* 13 px */
    --smaller-font-size: .5rem; /* 8 px */

    /* .25rem = 4px, .5rem = 8px, .75rem = 12px */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;



}

/*====================== Base =================*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.orange {
    color: #f2994a;
}

.bold {
    font-weight: bold;
}

/*====================== Layout =================*/

.container {
    margin: 2rem 1rem;
}

.header {
    display: flex;
    flex-direction: column;
    row-gap: var(--mb-1-5);
}

.header__title {
    font-family: var(--title-font);
    font-size: var(--h1-font-size);
    color: var(--dark-color);
}

.header__description {
    display: flex;
    align-items: flex-start;
    column-gap: var(--mb-1);
    margin-right: var(--mb-1);
    color: var(--gray-one-color);
}

.dots {
    margin-top: var(--mb-0-25);
}

.description__content {
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    font-style: italic;
}

.header__img {
    border-radius: var(--mb-1);
}

.header__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: var(--mb-1-5);
    column-gap: var(--mb-0-5);

}

.first__item {
    grid-column: 1 / span 3;
}

.info__item {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    row-gap: var(--mb-0-25);
    column-gap: var(--mb-0-5);
}

.info__item-icon {
    grid-row: 1 / span 2;
}

.info__title {
    font-family: var(--body-font);
    font-size: .6rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--gray-four-color);
}

.info__description {
    font-family: var(--body-font);
    font-weight: 500;
    font-size: .8rem;
}

.ingredients {
    display: grid;
    row-gap: var(--mb-1-5);
    color: var(--gray-one-color);
    margin-bottom: var(--mb-1-5);
}

.ingredients__title {
    font-family: var(--title-font);
    font-size: var(--h3-font-size);
}

.ingredients__subtitle {
    font-family: var(--title-font);
    font-weight: 400;
    font-size: var(--normal-font-size);
    font-style: italic;
}

.ingredients__data,
.instructions__data {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: start;
    column-gap: var(--mb-0-5);
    row-gap: var(--mb-0-75);
    font-family: var(--body-font);
    font-size: var(--small-font-size);
}

.instructions__data {
    row-gap: var(--mb-1-5);
    column-gap: var(--mb-1);
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-top: .2rem;
}

.instructions {
    padding-top: var(--mb-1-5);
    margin-bottom: var(--mb-1-5);
    display: flex;
    flex-direction: column;
    row-gap: var(--mb-1-5);
}

.instructions__title {
    font-family: var(--title-font);
    font-weight: bold;
    font-size: var(--h1-font-size);
    color: var(--gray-one-color);
}

.inst__num {
    width: 32px;
    height: 32px;
    background-color: var(--orange-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--normal-font-size);
    font-weight: bold;
    margin-top: .2rem;
    border-radius: 5px;
}

.inst__info {
    font-style: normal;
    font-size: var(--normal-font-size);
    color: var(--dark-color);
}

.source__link {
    font-weight: 400;
    font-style: italic;
    font-size: var(--normal-font-size);
    color: var(--gray-four-color);
}

.footer {
    margin-top: 7rem;
    padding: 2rem 1rem 1rem;
    text-align: center;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 700;
    color: #828282;
}

.footer__link {
    font-size: var(--normal-font-size);
    color: var(--gray-color);
    font-weight: bold;
    text-decoration: underline;
}