@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {

    --body-font: 'Montserrat', sans-serif;
    
    --dark-color: #000;
    --light-color: #fff;
    --gray-one-color: #333;
    --gray-two-color: #4f4f4f;
    --gray-three-color: #828282;


    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px .... */
    --big-font-size: 2rem; /* 32 px */
    --h1-font-size: 1.5rem; /* 24 px */ 
    --h2-font-size: 1.25rem; /* 20 px */
    --h3-font-size: 1.125rem; /* 18 px */
    --normal-font-size: 1rem; /* 16 px */
    --small-font-size: .813rem; /* 13 px */
    --smaller-font-size: .625rem; /* 10 px */

    /* .25rem = 4px, .5rem = 8px, .75rem = 12px */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: var(--body-font);
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    padding: 1rem 2rem;
    display: grid;
    row-gap: var(--mb-2);
    background-color: #F0F2F3;
}

/*============================ header =================================*/

.header {
    display: flex;
    justify-content: space-between;
}

.brand, .nav__toggle {
    cursor: pointer;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    transition: all .3s;
}

.nav__items {
    display: flex;
    flex-direction: column;
    row-gap: var(--mb-2);
    align-items: center;
    /* transition: all .3s; */
}

.hide {
    bottom: 100%;
    top: -100%;
}

.nav__link {
    color: var(--light-color);
}

.z-index {
    z-index: 100;
}

/*============================ main =================================*/

.main {
    display: grid;
    row-gap: var(--mb-2);
}

/*============================ about =================================*/

.about {
    display: flex;
    flex-direction: column;
    row-gap: var(--mb-1-5);
    background-color: #fff;
    padding: 1rem;
    border-radius: 12px;
}

.about__img {
    width: 100%;
    height: 270px;
    border-radius: 12px;
    /* justify-self: center; */
    object-fit: cover;
}

.aboutName__title {
    font-weight: 600;
    font-size: var(--h1-font-size);
    color: var(--gray-two-color);
    margin-bottom: var(--mb-0-5);
}

.aboutName__subtitle {
    font-weight: 500;
    font-size: var(--h3-font-size);
    color: var(--gray-three-color);
}

.aboutContact {
    display: grid;
    row-gap: var(--mb-0-5);
    order: 1;
}

.aboutContact > div {
    display: flex;
    column-gap: var(--mb-0-5);
    align-items: center;
    color: var(--gray-two-color);
    font-size: var(--normall-font-size);
}

.aboutDes {
    font-weight: 500;
    font-size: var(--normal-font-size);
    color: var(--gray-three-color);
}

/*============================ aside =================================*/


.section__center {
    display: grid;
    row-gap: var(--mb-2);
}

.skills {
    background-color: #fff;
    padding: 1rem;
    border-radius: 12px;
    margin-bottom: var(--mb-2);
    /* box-shadow: 0px 1px 24px 4px rgba(0,0,0,0.51); */
}

.skills__title {
    font-size: var(--normal-font-size);
    color: var(--gray-two-color);
    margin-bottom: var(--mb-1-5);
}

.skills__bars {
    display: grid;
    row-gap: var(--mb-0-75);
}

.skills__bars > div {
    display: flex;
    align-items: center;
}

.skills__name {
    font-size: var(--normal-font-size);
    color: var(--gray-two-color);
    font-weight: 500;
    flex-basis: 35%;
}

.skills__bar {
    flex-basis: 65%;
    width: 100%;
    height: 7px;
    background-color: var(--gray-three-color);
    border-radius: 5px;
}

.skills__bar span {
    display: block;
    border-radius: 12px;
    height: 100%;
    background-color: dodgerblue;
}

/*============================ hobbies =================================*/

.hobbies {
    background-color: #fff;
    padding: 1.5rem 1rem;
    border-radius: 12px;
    display: grid;
    row-gap: var(--mb-1-5);
}

.hobbies__title {
    color: var(--gray-two-color);
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-1-5);
}

.hobbies__item {
    display: grid;
    row-gap: var(--mb-1);
}

.hobbies__img {
    border-radius: 12px;
    height: 30vh;
    width: 100%;
    object-fit: cover;
}

.hobbies__item h4 {
    font-weight: 600;
    font-size: var(--h3-font-size);
    color: var(--gray-one-color);
}

.hobbies__item p {
    color: var(--gray-three-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
}

/*============================ blog =================================*/


.blog {
    background-color: #fff;
    padding: 1.5rem 0 1.5rem 1rem;
    border-radius: 12px;
    margin-bottom: var(--mb-2);
    font-weight: 500;
}

.blog > div {
    display: grid;
    row-gap: var(--mb-2-5);
}

.blog__header {
    display: flex;
    flex-direction: column;
    row-gap: var(--mb-1);
}

.blog__name {
    font-size: var(--normal-font-size);
    font-weight: 500;
    color: #e0e0e0;
    margin-bottom: var(--mb-1);
}

.blog__title {
    font-size: var(--h1-font-size);
    color: var(--gray-one-color);
    font-weight: 500;
}

.blog__img {
    width: 100%;
    height: 45vh;
    object-fit: cover;
}

.blog__des {
    font-size: var(--normal-font-size);
    color: var(--gray-three-color);
}

.blog__link {
    color: #2f80ed;
    font-size: var(--normal-font-size);
    cursor: pointer;
}

/*============================ exp =================================*/


.exp {
    background-color: #fff;
    padding: 1.5rem 1rem;
    border-radius: 12px;
    display: grid;
    row-gap: var(--mb-2);
}

.exp__name {
    font-weight: 500;
    color: var(--gray-two-color);
}

.exp__item {
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: var(--mb-1-5);
}

.exp__item div {
    display: flex;
    flex-direction: column;
    row-gap: var(--mb-1);
}

.exp__date {
    color: var(--gray-three-color);
    font-size: var(--small-font-size);
    font-weight: 500;
}

.exp__title {
    font-weight: 600;
    font-size: var(--normal-font-size);
    color: var(--gray-one-color);
}

.exp__des {
    color: var(--gray-three-color);
    font-weight: 500;
}