@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {

    --body-font: 'Montserrat', sans-serif;
    
    --dark-color: #000;
    --light-color: #fff;
    --gray-one-color: #333;
    --gray-two-color: #4f4f4f;
    --gray-three-color: #828282;


    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px .... */
    --big-font-size: 2rem; /* 32 px */
    --h1-font-size: 1.5rem; /* 24 px */ 
    --h2-font-size: 1.25rem; /* 20 px */
    --h3-font-size: 1.125rem; /* 18 px */
    --normal-font-size: 1rem; /* 16 px */
    --small-font-size: .813rem; /* 13 px */
    --smaller-font-size: .625rem; /* 10 px */

    /* .25rem = 4px, .5rem = 8px, .75rem = 12px */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: var(--body-font);
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    padding: 1rem 2rem;
    display: grid;
    row-gap: var(--mb-2);
    background-color: #F0F2F3;
}

/*============================ header =================================*/

.header {
    display: flex;
    justify-content: space-between;
}

.brand, .nav__toggle {
    cursor: pointer;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    transition: all .3s;
}

.nav__items {
    display: flex;
    flex-direction: column;
    row-gap: var(--mb-2);
    align-items: center;
    /* transition: all .3s; */
}

.hide {
    bottom: 100%;
    top: -100%;
}

.nav__link {
    color: var(--light-color);
}

.z-index {
    z-index: 100;
}

/*============================ main =================================*/

.main {
    display: grid;
}

/*============================ about =================================*/

.about {
    display: grid;
    row-gap: var(--mb-1);
    background-color: #fff;
    padding: 1rem;
    border-radius: 12px;
}

.about__img {
    width: 100%;
    height: 270px;
    border-radius: 12px;
    /* justify-self: center; */
    object-fit: cover;
}

.aboutName__title {
    font-weight: 600;
    font-size: var(--h1-font-size);
    color: var(--gray-two-color);
    margin-bottom: var(--mb-0-5);
}

.aboutName__subtitle {
    font-weight: 500;
    font-size: var(--h3-font-size);
    color: var(--gray-three-color);
}

.aboutContact {
    display: grid;
    row-gap: var(--mb-0-5);
}

.aboutContact > div {
    display: flex;
    column-gap: var(--mb-0-5);
    align-items: center;
    color: var(--gray-two-color);
    font-size: var(--normall-font-size);
}

.aboutDes {
    font-weight: 500;
    font-size: var(--normal-font-size);
    color: var(--gray-three-color);
}