@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --body-color: #fff;
    --primary-color: #333;
    --secondary-color: #4f4f4f; 
    --link-color: #adb5bd;
    --link-color-dark: #6c757d;
}

.not-found {
    display: grid;
    row-gap: 2rem;
    margin: 1rem 2rem;
}

.not-found__title {
    font-family: "Inconsolata", monospace;
    font-size: 1.5rem;
    font-weight: 700;
}

.error {
    display: grid;
    /* justify-content: start; */
    row-gap: 1rem;
}

.error__img {
    max-width: 100%;
    height: auto;
}

.error__title {
    font-family: 'Space Mono', monospace;
    font-size: 2rem;
}

.error__description {
    font-family: 'Space Mono', monospace;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.error__btn {
    padding: 1.2rem 2.5rem;
    background: var(--primary-color);
    justify-self: start;
    color: var(--body-color);
    text-decoration: none;
    text-transform: uppercase;
}


.footer__title {
    text-align: center;
    color: var(--link-color);
    font-size: .8rem;
}

.footer__link {
    text-decoration: none;
    font-weight: bold;
    color: var(--link-color-dark);
    cursor: pointer;
}

/* for large device */

@media screen and (min-width: 570px) {
    .not-found {
        width: 90%;
        height: 100vh;
        row-gap: 1rem;
        margin: 1rem 2rem;
        align-content: space-between;

    }

    .error {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        align-items: center;
    }

    .error__img {
        grid-row: span 3;
        align-self: stretch;
    }

    .error__title {
        font-size: 3.5rem;
    }

    .error__description {
        font-size: 1.5rem;
    }

    .error__btn {
        font-size: .9rem;
    }

    .footer {
        padding: 3rem;
    }

    .footer__title {
        font-size: .9rem;
    }
}
